* {
  margin: 0;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20%;
}
.container {
  width: 100%;
  margin-top: 10px;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container > div {
  width: calc(90% / 2);
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.right-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-up-right {
  margin-top: 20px;
}
p {
  margin: 10px 0;
}
.img {
  width: 100%;
  height: 80%;
}

.border-c {
  margin: 0 10px;
  background-color: #eee;
  padding: 5px;
}
.lang {
  margin: 0 10px;
  background-color: #eee;
  padding: 5px;
}
.colorWhite {
  color: white;
}
.colorBlack {
  color: black;
}
.dark-border {
  color: black;
  padding: 5px;
  margin: 0 10px;
}
@media (max-width:830px) {
  .container{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:715px) {
  .right-up{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-down{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lang,.dark-border{
    padding: 0;
  }
  .container{
    height: auto;
  }
  .dark-border{
    background-color: transparent;
    color: black;
  }
}